:root {
    --purple: #656BF1;
    --turquoise: #0B9F94;
    --black: #1E1E1E;
    --grey: #BFBFBF;
    --light-grey: #F5F5F5;
}

/* Base */

.body {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    justify-content: flex-end;
}

.navlink {
    margin-left: 30px;
}

.navlink:hover {
    color: var(--purple)
}

.navlink.active {
    font-weight: bold;
    color: var(--purple)
}

#logo {
    height: 40px;
    margin-bottom: 50px;
}

.header {
    width: 100%;
    text-align: left;
}

.subtitle {
    color: var(--purple);
    font-family: "Arial Narrow", Arial, sans-serif;
    margin-bottom: 10px;
}

.title {
    color: var(--black);
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    margin-top: 10px;
}

/* Appointments */

.search-add {
    margin-bottom: 50px;
    display: flex;
    width: 100%;
}

.search-bar {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.search-bar {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.search-bar input[type="text"] {
    width: calc(100% - 110px);
    padding: 10px 55px;
    font-size: 20px;
    font-family: "Arial Narrow", Arial, sans-serif;
    color: var(--black);
    border: 1px solid var(--grey);
    border-radius: 10px;
}

.search-icon,
.cancel-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
}

.search-icon {
    left: 20px;
    color: var(--purple);
}

.cancel-icon {
    right: 120px;
    color: var(--grey);
    background: none;
    border: none;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
}

.button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.add-record-btn {
    margin-left: auto;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border: none;
    background-color: var(--turquoise);
    color: white;
    font-weight: bold;
    border: 1px solid var(--turquoise);
    border-radius: 10px;
    width: 150px;
}

.add-record-btn:hover {
    background-color: var(--black);
    cursor: pointer;
}

.appt-table {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 60px;
}

.appt-table th {
    background-color: var(--black);
    color: white;
    font-weight: bold;
    padding: 15px 10px;
}

.appt-table td {
    padding: 15px 10px;
    border-bottom: 1px solid var(--grey);
}

.appt-table tbody tr:nth-child(even) {
    background-color: var(--light-grey);
}

.edit-button {
    background: none;
    border: none;
    padding: 20;
    cursor: pointer;
    font-size: 20px;
    color: var(--grey);
}

.delete-button {
    background: none;
    border: none;
    padding: 20;
    cursor: pointer;
    font-size: 20px;
    color: var(--grey);
}

.navigate {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 20px;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.navigate-content {
    display: flex;
    width: auto;
    border-top: 1px solid var(--grey);
    padding-top: 20px;
}

.items {
    margin-right: 30px;
}

#items-per-page {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.pages {
    margin-right: 150px;
    margin-top: 5px;
}

.first-page-btn,
.before-page-btn,
.next-page-btn,
.last-page-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 30px;
}

/*  Popup */

.add-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 50px;
    width: 500px;
    height: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 20px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #999;
}

/* Add/Edit Record */

.record-form {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}

.instructions {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    font-style: italic;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-container label {
    margin-right: 10px;
    width: 100px;
    font-family: Arial, sans-serif;
}

.input-container input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    border: 1px solid var(--black);
    border-radius: 5px;
    width: 100%;
    flex: 1;
    color: var(--grey-);
}

.input-container select {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    border: 1px solid var(--black);
    border-radius: 5px;
    width: 100%;
    flex: 1;
    color: var(--grey-);
}

.submit-btn {
    margin-left: auto;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border: none;
    background-color: var(--turquoise);
    color: white;
    font-weight: bold;
    border: 1px solid var(--turquoise);
    border-radius: 10px;
    width: 100px;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: var(--black);
    cursor: pointer;
}

/* Generate */

.appt-cards {
    display: flex;
    width: 100%;
}

.appt-card {
    width: 25%;
    height: 320px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 10px;
    background-color: var(--turquoise);
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.card-title {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
}

.card-num {
    margin-top: 20px;
    font-size: 52px;
    font-weight: 600;
}

.card-text {
    font-size: 18px;
}

.summary-report {
    width: 100%;
}

.island-tabs {
    font-size: 18px;
    margin: 0 10px;
    text-align: center;
}

.line {
    margin-top: 20px;
    background-color: var(--grey);
    border: none;
    height: 1px;
}

.table-info {
    margin: 0 20px;
}

.table-info h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.table-summary {
    width: 100%;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.table-num-appts {
    padding-top: 10px;
    text-align: right;
}

.table-total {
    font-weight: 600;
}


/* Responsive */

@media (max-width: 1400px) {
    .body {
        padding-right: 60px;
        padding-left: 60px;
        min-width: 600px;
    }

    .appt-table {
        font-size: 16px;
    }

    .search-bar input[type="text"] {
        font-size: 18px;
    }

    .add-record-btn {
        font-size: 16px;
    }

    .navigate {
        font-size: 18px;
    }
}